<launch>
  <arg name="rgb_topic"     default="/camera/rgb/image_raw"/>
  <arg name="depth_topic"   default="/camera/depth/image_raw"/>
  <arg name="camera_info"   default="/camera/rgb/camera_info"/>
  <arg name="info_topic"    default="$(arg camera_info)"/>

  <arg name="frame_id"      default="base_link_frd"/>
  <arg name="camera_frame"  default="depth_camera_link"/>
  <arg name="odom_frame_id" default="odom"/>
  <arg name="map_frame_id"  default="map"/>
  <arg name="odom_topic"    default="/mavros/local_position/odom"/>

  <arg name="use_sim_time"  default="true"/>
  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <arg name="publish_cam_tf" default="false"/>

  <group ns="rtabmap">
    <group if="$(arg publish_cam_tf)">
      <node pkg="tf2_ros" type="static_transform_publisher" name="cam_to_base_rtab"
            args="0.10 0 0  -0.130526 0 0 0.991445 $(arg frame_id) $(arg camera_frame)"/>
    </group>

    <node pkg="rtabmap_ros" type="rgbd_sync" name="rgbd_sync_rtab" output="screen">
      <remap from="rgb/image"       to="$(arg rgb_topic)"/>
      <remap from="depth/image"     to="$(arg depth_topic)"/>
      <remap from="rgb/camera_info" to ="$(arg info_topic)"/>
      <param name="approx_sync" value="true"/>
    </node>

    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap_rtab" output="screen">
      <param name="frame_id"      value="$(arg frame_id)"/>
      <param name="odom_frame_id" value="$(arg odom_frame_id)"/>
      <param name="map_frame_id"  value="$(arg map_frame_id)"/>
      <param name="database_path" value="~/.ros/rtabmap.db"/>

      <param name="subscribe_rgbd" value="true"/>
      <remap from="rgbd_image" to="/rtabmap/rgbd_image"/>

      <param name="Grid/FromDepth" value="true"/>
      <param name="Grid/RangeMax"  value="8.0"/>
      <param name="Grid/3D"        value="false"/>

      <param name="Mem/IncrementalMemory" value="true"/>
      <param name="RGBD/NeighborLinkRefining" value="true"/>
      <param name="Reg/Force3DoF" value="true"/>

      <remap from="odom" to="$(arg odom_topic)"/>
    </node>
  </group>
</launch>
